.DS_Store
.Trash/
/.vim/bundle
/.CFUserTextEncoding
/.aliguard/
/.cache/
/.config/karabiner
/.config/configstore
/.config/github-copilot
/.config/nvim/plugin
/.local/
/.node-gyp/
/.node_repl_history
/.npm/
/.npminstall_tarball/
/.npmrc
/.python_history
/.ssh/
/.tnpm/
/.tnpmrc
/.viminfo
/.wns/
/.zsh_history
/.zsh_sessions/
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/ali/
/lab/
/.NERDTreeBookmarks
/.hidpi-disable
/.feproxy/
/.alicloudprint/
/.android/
/.cups/
/.docker/
/.kube/
/.yarnrc
/.oracle_jre_usage/
/Applications/
/.ngp-site-tmp/
/.vscode/
/.bash_history
/.wget-hsts
/go/
/.zprofile
/.yarn/
/.lesshst
/scikit_learn_data/
/.pm2/
/.ollama/
/.matplotlib/
/.mongodb/
/.keras/
/.cursor/
/.com.futunn.FutuOpenD/
/.aone*
/.colima/
/.cargo/
