/.CFUserTextEncoding
.DS_Store
/.ShadowsocksX
.Trash
/.adobe
/.android
/.anyconnect
/.cache
/.codeintel
/.config
/.cooder
/.cooder_info
/.cups
/.edp-package-cache
/.emacs.d
/.gem
/.gsutil
/.lesshst
/.local
/.m2
/.macports
/.matplotlib
/.mysql_history
/.netbeans-derby
/.netscape
/.node-gyp
/.npm
/.npmrc
/.python-eggs
/.ssh
/.subversion
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/VirtualBox
/apache-tomcat-8.0.9
/cminstaller
/d
/github
/lab
/node
/works
/VirtualBox VMs
