[user]
  name = 飞羏
  email = feixiang.yfx@alibaba-inc.com
[core]
  editor = vi
[alias]
  co = checkout
  st = status -s
  ci = commit
  pl = pull
  ps = push
  br = branch
  lo = log --graph
  df = diff --ignore-space-at-eol
  merge = merge -Xignore-space-at-eol
[push]
  default = matching
[credential]                                                                        
  helper = cache --timeout=259200000
