.DS_Store
.Trash/
/.vim/bundle
/.CFUserTextEncoding
/.aliguard/
/.cache/
/.config/
/.local/
/.node-gyp/
/.node_repl_history
/.npm/
/.npminstall_tarball/
/.npmrc
/.python_history
/.ssh/
/.tnpm/
/.tnpmrc
/.viminfo
/.wns/
/.zsh_history
/.zsh_sessions/
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/ali/
/lab/
/.NERDTreeBookmarks
