snippet define
	define(function (require, exports, module) {
		${0}
	});
snippet p
	preventDefault();
snippet ready
	$(function() {
		${0}
	});
snippet =
	(${1}) => { ${0} }
snippet =>
	(${1}) => { 
		${0} 
	}
