snippet cmt
	/**
	 * ${0}
	 */
snippet fcmt
	/**
	 * @file ${1}
	 * @author `g:snips_author`(`g:snips_mail`)
	 * @date `strftime("%Y-%m-%d")`
	 */
	${0}
snippet define
	define(function (require, exports, module) {
		${0}
	});
snippet cdefine
	define([], function () {
		${0}
	});
snippet p
	preventDefault();
snippet ready
	$(function() {
		${0}
	});
snippet doc
	$(function() {
		${0}
	});
snippet req
	require('${0}')${1:,}
snippet =
	(${1}) => { ${0} }
snippet =>
	(${1}) => { 
		${0} 
	}
