snippet flex "vertical center"
display: -webkit-box;
-webkit-box-orient: vertical;
&:after,
&:before {
	content: " ";
	display: block;
	flex: 1;
	visibility: hidden;
}
endsnippet
snippet nowrap "text overflow ellipsis"
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
endsnippet
snippet nowrap2 "text overflow 2 lines ellipsis"
overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
endsnippet
