snippet html
<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	${0}
</body>
</html>
endsnippet
snippet css
<link rel="stylesheet" href="${0}" />
endsnippet
snippet log
<script src="//feproxy.org/log.js" crossorigin="anonymous"></script>
endsnippet
