snippet if
{% if ${1} %}
${0}
{% endif %}
endsnippet
snippet elif
{% elif ${1} %}
${0}
endsnippet
snippet for
{% for ${1:item} in ${2:list} %}
${0}
{% endfor %}
endsnippet
snippet =
{{ ${0} }}
endsnippet
snippet set
{% set ${0} %}
endsnippet
snippet include
{% include ${0} %}
endsnippet
snippet %
{% ${0} %}
endsnippet
